body{
	background-image: url("../images/billtedbackground.jpg");
	color: white !important;
}
#answers {
	text-align: middle;
	font-size: 24px;
	position: relative;
	left: 2%;
	top:110px;
	list-style: none;
	background: none;
	border: none;

}
#question {
	text-align: middle;
	font-size: 32px;
	position: relative;
	left: 4%;
	top: 90px;
	list-style: none;
	background: none;
	border: none;

}
#answers button {
	background: none;
	border:none;
}
#answers button:hover {
	background: none;
	color: red;
	border:none;
}
.header{
	margin-bottom: 3%;

}
.header h1{
	padding-left: 23%;
	padding-top: 2%;
}
/*Question Area*/
#content{
	height: 500px;
	border-color: white;
	border-style: solid;
	
}
.start.btn-primary.btn{
    position: relative;
    left: 45%;
    top: 240px;
   
}
#hidden{
	padding: 5%;

}
/*Rules Area*/
#rules{
	height: 250px;
	border-color: white;
	border-style: solid;
	text-align: center;
	padding-left: 7%;
	padding-right: 7%;
	
}
#rules p{
	margin-top: 10%;
}
/*Clock Housing*/
#timer{
	height: 200px;
	border-color: white;
	border-style: solid;
	text-align: center;
	padding-left: 7%;
	padding-right: 7%;
	
}
#timeLeft{
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: 18px;
	border-bottom-style: solid;
}
/*Countdown Clock*/
#time{
	font-size: 90px;
	margin-top: 5%;
}