body{
	background-image: url("../images/billtedbackground.jpg");
	color: white !important;
}
#answers {
	position: relative;
	left: 34%;
	top:180px;
	list-style: none;
	background: none;
	border: none;

}
#question {
	font-size: 22px;
	position: relative;
	left: 20%;
	top: 160px;
	list-style: none;
	background: none;
	border: none;

}
#answers button {
	background: none;
	border:none;
}
#answers button:hover {
	background: none;
	color: red;
	border:none;
}
.header{
	margin-bottom: 3%;

}
.header h1{
	padding-left: 23%;
}
/*Question Area*/
#content{
	height: 600px;
	border-color: white;
	border-style: solid;
	
}
.start.btn-primary.btn{
    position: relative;
    left: 45%;
    top: 240px;
   
}
#hidden{
	padding: 5%;

}
/*Rules Area*/
#rules{
	height: 250px;
	border-color: white;
	border-style: solid;
	text-align: center;
	padding-left: 7%;
	padding-right: 7%;
	
}
#rules p{
	margin-top: 10%;
}
/*Clock Housing*/
#timer{
	margin-top: 50px;
	height: 200px;
	border-color: white;
	border-style: solid;
	text-align: center;
	padding-left: 7%;
	padding-right: 7%;
	
}
#timeLeft{
	margin-top: 4%;
	margin-bottom: 4%;
	font-size: 18px;
	border-bottom-style: solid;
}
/*Countdown Clock*/
#time{
	font-size: 90px;
	margin-top: 5%;
}